<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite from testng XML file">
<listeners>
<listener class-name="utilities.Listener"></listener>
</listeners>

  <test thread-count="2" name="TestNG Test from testng xml file having all classes">
    <classes>
      <class name="testCases.TC_1_GetAllUsers"/>
      <class name="testCases.TC_3_VerifyHeaders"/>
      <class name="testCases.TC_4_TestAuthentication"/>
      <class name="testCases.TC_5_ValidateBodyList"/>
      <class name="testCases.TC_6_VerifySlowResponse"/>
      <class name="testCases.TC_2_VerifySingleUser_DD"/> 
      <!-- <class name="booksTestCases.TC_8_Verify_Books_Functionality"/>
       <class name="booksTestCases.TC_9_Verify_Books_Validations"/>	  --> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
